apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: backend
data:
  # Database
  DATABASE_CONN: "postgresql+asyncpg://postgres:wjdqudwo@post-postgresql.post.svc.cluster.local:5432/shopping"
  
  # Redis
  REDIS_URL: "redis://:wjdqudwo@redis-master.redis.svc.cluster.local:6379/0"
  
  # MinIO
  MINIO_URL: "minio.minio.svc.cluster.local:9000"
  MINIO_ACCESS_KEY: "minio"
  MINIO_SECRET_KEY: "minio123"
  MINIO_SECURE: "False"
  MINIO_PUBLIC_BASE_URL: "http://minio.minio.svc.cluster.local:9000"
  MINIO_BUCKET_LIST: "category,products"
  
  CORS_ORIGINS: "http://frontend-service.front.svc.cluster.local"

  # JWT 설정
  JWT_SECRET_KEY: "your-secret-key-change-this-in-production-use-minimum-32-characters-random-string"
  JWT_ALGORITHM: "HS256"
  ACCESS_TOKEN_EXPIRE_MINUTES: "5"
  REFRESH_TOKEN_EXPIRE_DAYS: "7"
  CSRF_TOKEN_EXPIRE_SECONDS: "3600"
  
  # Cookie 설정
  REFRESH_COOKIE_NAME: "refresh_token"
  REFRESH_COOKIE_MAX_AGE: "604800"
  REFRESH_COOKIE_HTTPONLY: "true"
  REFRESH_COOKIE_SECURE: "false"
  REFRESH_COOKIE_SAMESITE: "lax"
  REFRESH_COOKIE_PATH: "/"
  
  # Admin
  ADMIN_EMAIL: "admin@admin.com"
  ADMIN_USERNAME: "admin"
  ADMIN_PASSWORD: "admin"
  ADMIN_ROLE: "admin"
  
  # Logging
  LOG_LEVEL: "INFO"
  LOG_FORMAT: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
