apiVersion: apps/v1
kind: Deployment
metadata:
  name: publisher
  namespace: publisher
spec:
  replicas: 1
  selector:
    matchLabels:
      app: publisher
  template:
    metadata:
      labels:
        app: publisher
    spec:
      containers:
      - name: publisher
        image: 192.168.80.90:5000/shopping-publisher:latest
        envFrom:
        - configMapRef:
            name: publisher-config
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
